/* CSS Document */
html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial;
	background-image:url(img/head.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
}

#index, #kepriport, #program, #magazin, #hir, #hatterkep, #loader, #club, #kep, #hatter { 
	display:none; 
	width:100%;
	min-height:50%;
	position:relative;
	padding-bottom:25%;
}

#wrap {
	width:95%;
	height:100%;
	margin:0 auto;
	position:relative;
}

#loader {
	background-image:url(img/ajax_loader.gif);
	background-repeat:no-repeat;
	background-position:50% 40%;
	background-size:3em;
}

#head_mentes {
	position:relative;
	background-image:url(img/partyzoo_logo.png);
	background-repeat:no-repeat;
	background-position:90% 20%;
	background-size:55%;
	width:100%;
}

#head {
	position:relative;
	width:100%;
}

#index img {
	border:none;
	float:right;
	width:50%;
}

#kepriport img, #program img, #magazin img, #hatterkep img, #club img {
	border:none;
	float:left;
	width:48%;
	margin-right:2%;
}

#magazin img.left, #kepriport img.left, #club img.left {
	width:49%;
	margin-top:0.15em;
	margin-bottom:0.15em;
	margin-right:0.65%;
}

#magazin img.right, #kepriport img.right, #club img.right {
	width:49%;
	margin-top:0.15em;
	margin-bottom:0.15em;
	margin-left:0.65%;
	margin-right:0;
}

#hatterkep .rimg-row a, #kepriport .rimg-row a, #program .rimg-row a, #magazin .rimg-row a, #hir .rimg-row a, #club .rimg-row a {
	color:#000;
	text-decoration:none;
}

#magazin .rimg-row a, #hir .rimg-row a, #club .rimg-row a  {
	font-weight: bold;
}

#hir .rimg-row a.more {
	display:block;
	float:right;
	color:#FF8C00;
	margin:5px 10px 5px 5px;
}

.rimg-row {
	font-size:0.4em;
	clear:both;
	overflow: hidden;
	width:100%;
	margin:0.75em 0 0.75em 0;
}

.rimg-row p {
	margin:0;
	padding:0;
}

#hir .rimg-row {
	width:96%;
	padding:0 2% 0 2%;
}

#hir .rimg-row p {
	font-size:1.25em;
}

div.doboz {
	clear:both;
	width:95%;
	padding:2%;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	border:1px solid #000000;
	background-color:#EFEFEF;
	-moz-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	margin-bottom:0.15em;
}

.fej { padding:0.5em 0 1em 0; font-weight:bold; font-size:0.7em; border-bottom:1px solid #999; }
.fej span { font-weight:normal; }
.edit  { border-bottom:1px solid #999; clear:both; }
.torzs { padding:1em 0 0.5em 0; font-size:0.5em; clear:both; }	
.torzs p { margin:1.2em 0 1em 0; }
.torzs a, .torzs p a, div.doboz table td a { color:#FF8C00; }	
#program .torzs img { float:none; border:1px solid black; margin:1em 0 1em 0; width:100%; }
.datum { float: left; width:200px; text-align:left; color:#333; font-size:0.35em; margin:5px 0px 5px 0px; }
.nev { float: right; width:200px; text-align:right; color:#999; font-size:0.35em; margin:5px 0px 5px 0px; }
.nev a { color:#999; }
.nev a:hover { color:#FF8C00; }


#index a, h1, a.back {
	display: inline-block;
	width:99%;
	height:2em;
	line-height:2em;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	background: #faa61a; /* Old browsers */
	background: -moz-linear-gradient(top,  #faa61a 45%, #de7200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#faa61a), color-stop(100%,#de7200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #faa61a 45%,#de7200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#de7200',GradientType=0 ); /* IE6-9 */
	border:1px solid #DE7200;
	-moz-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	font-size:1em;
	font-weight:normal;
}

a.back {
	width:47%;
	margin:0 1% 0 1%;
	float:left;
}

a.full {
	width:99%;
	margin:0;
}

a.fade {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

div.paging {
	height:2em;
	margin-bottom:2.5em;
	clear:both;
}

#index a:active {
	background: #de7200; /* Old browsers */
	background: -moz-linear-gradient(top,  #de7200 0%, #faa61a 55%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de7200), color-stop(55%,#faa61a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #de7200 0%,#faa61a 55%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #de7200 0%,#faa61a 55%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #de7200 0%,#faa61a 55%); /* IE10+ */
	background: linear-gradient(to bottom,  #de7200 0%,#faa61a 55%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de7200', endColorstr='#faa61a',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.styled-select {
	padding-left:1.2em;
	background-image:url(img/kockak_bal.gif);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:1em;
	position:absolute;
	left:0px;
	top:0.5em;
}

.search-form {
	position:absolute;
	left:0px;
	bottom:0.7em;
	font-size: 0.4em;
}

.search-form input {
	padding: 1px;
	color:#000;
	width:8em;
}

.styled-select select {
   padding: 1px;
   font-size: 0.4em;
   color:#000;
   font-weight:bold;
}

#banner {
	position:fixed;
	bottom:-100%;
	opacity:0.1;
	left:0;
	width:100%;
}

#banner img {
	width:100%;
	border:none;
}

#kep, #hatter {
	height:100%;
	overflow:hidden;
}

#kep-content, #hatter-content {
	width:100%;
}

#kep-content img, #hatter-content img {
}

#kep-nav, #hatter-nav {
	clear:both;
}

#kep-nav-loader {
	height:1em;
	width:98%;
	margin-left:1%;
	margin-right:1%;
	background-image:url(img/ajax_loader.gif);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:1em;
	
}

.doboz a.megosztas {
	margin-left:1%;
	margin-right:1%;
	margin-bottom:0.75em;
	padding:0.4em 0 0.4em 0;
	display:inline-block;
	background-color:#faa519;
	color:#FFF;
	font-size:0.6em;
	height:1em;
	line-height:1em;
	text-align:center;
	text-decoration:none;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	background: #faa61a; /* Old browsers */
	background: -moz-linear-gradient(top,  #faa61a 45%, #de7200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#faa61a), color-stop(100%,#de7200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #faa61a 45%,#de7200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#de7200',GradientType=0 ); /* IE6-9 */
	border:1px solid #DE7200;
	-moz-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);

}

#kep #kep-nav a, #hatter #hatter-nav a {
	width:47%;
	margin-left:1%;
	margin-right:1%;
	padding:0.4em 0 0.4em 0;
	display:inline-block;
	background-color:#faa519;
	color:#FFF;
	font-size:0.6em;
	height:1em;
	line-height:1em;
	text-align:center;
	text-decoration:none;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
	background: #faa61a; /* Old browsers */
	background: -moz-linear-gradient(top,  #faa61a 45%, #de7200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#faa61a), color-stop(100%,#de7200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #faa61a 45%,#de7200 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #faa61a 45%,#de7200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#de7200',GradientType=0 ); /* IE6-9 */
	border:1px solid #DE7200;
	-moz-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);
	box-shadow:2px 2px 3px 1px rgba(0, 0, 0, 0.5);

}